{% extends 'base.html' %}

{% block content %}

<h1 class="text-center mt-5 mb-5"> Wilkommen zum Entscheidungsunterstützungssystem von Prosper-Ro</h1>
 <hr>

<div class="card-deck m-2">

        <div class="card" style="width: 18rem;">
      <img src="../static/images/map.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">DSS</h5>
        <p class="card-text">Eingang zum Entscheidungsunterstützungswerkzeug</p>
          </div>
          <div class="card-footer text-center p-0">
        <a href="{{ url_for('map') }}" class="btn btn-primary d-block">Los >>></a>
          </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="../static/images/about.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Über</h5>
        <p class="card-text">Informationen über das DSS</p>
          </div>
          <div class="card-footer text-center p-0">
            <a href="{{ url_for('about') }}" class="btn btn-primary d-block">Los >>></a>
          </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="../static/images/help.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hilfe</h5>
        <p class="card-text">Hilfe für die Anwendung des DSS</p>
          </div>
          <div class="card-footer text-center p-0">
        <a href="{{ url_for('help') }}" class="btn btn-primary d-block">Los >>></a>
          </div>
    </div>



    <div class="card" style="width: 18rem;">
      <img src="../static/images/user.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">User</h5>
        <p class="card-text">Nutzereinstellungen</p>
          </div>
          <div class="card-footer text-center p-0">
        <a href="{{ url_for('user') }}" class="btn btn-primary d-block">Los >>></a>
          </div>

    </div>

        <div class="card" style="width: 18rem;">
      <img src="../static/images/project.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Projekt</h5>
        <p class="card-text">Hier gehts zur Webseite des Projektes</p>
          </div>
          <div class="card-footer text-center p-0">
        <a href="https://prosper-ro.auf.uni-rostock.de/" target="_blank" class="btn btn-primary d-block">Los >>></a>
          </div>

    </div>


</div>

 <hr>
{% endblock %}